
#####
# DO NOT DELETE THESE (2) ENTRIES
fullstop/src/main/resources/config/application-development.yml
fullstop/src/main/resources/config/application-local.yml
fullstop/src/main/resources/config/bootstrap.yml
#####

.project
.classpath
.settings
target
*.iml
.idea
fullstop/src/main/resources/logs
ERRORS*


violations.log
violations.*.log
