<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Zalando SE
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
    <property name="VIOLATIONS_LOG_DIR" value="${user.dir}/target"/>


    <!-- FOR CONSOLE-APPENDER -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- YOU CAN ONLY HAVE ONE OF THESE INCLUDES -->
    <include resource="org/zalando/fullstop/violations/store/logback_hourly.xml"/>
    <!--<include resource="org/zalando/fullstop/violations/store/logback_daily.xml"/>-->

    <!-- this package logs mostly spam on INFO level (like cache key generated, etc) -->
    <logger name="springfox.documentation" level="WARN"/>

    <!-- we have hundreds of audit events ("AUTHENTICATION_FAILURE") every minute and they are logged on INFO level in this location-->
    <logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
